@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
 
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;

    background: no-repeat center;
    background-size: cover;
}

.hidden {
    display:none;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-template-areas: 
            "header header header"
            "a clock todo"
            ". . ."
            "b quote weather";
}

.clockDiv {
    grid-area: clock;
}

.headerDiv {
    grid-area: header;
    background-color: rgba( 255, 255, 255, 0.5 );
    color: #1e6b7b;
}

.loginDiv {
    margin-right: 20px;
}

.loginInput {
    width: 120px;
    height: 23px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.loginButton {
    border: 3px solid #727272;
    color: #6e6e6e;
    margin: 20px;

    position: relative;
    border: 2;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.clockStyle {
    color: white;
    font-family: Century Gothic, sans-serif;
    font-size: 120px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.greetingStyle {
    color: white;
    font-family: Century Gothic, sans-serif;
    margin-top: 5px;
}