@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.hidden {
    display:none;
}

.loginInput {
    width: 120px;
    height: 23px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.loginButton {
    border: 3px solid #a3a1a1;
    color: #6e6e6e;
    margin: 20px;

    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.login {

}

.bgImage {
    height: 100vh;
    width: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.clockStyle {
    color: white;
    font-family: Century Gothic, sans-serif;
    font-size: 120px;
    font-weight: bolder;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}